<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test AJAX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<button onclick="loadData()"> Click me </button>

<div id="data-list">

    <input id="man-name" /> <br>
    <input id ="man-desc"/> <br>
    <input id="man-img"/> <br>
    <button onclick="addData()">Add me</button>

</div>

<div id="data-list">

    <input id="man-name2" /> <br>
    <input id ="man-desc2"/> <br>
    <input id="man-img2"/> <br>
    <input id="man-id2"/> <br>
    <button onclick="putData()">Update</button>

</div>

<script type="application/javascript" src="../static/main.js"></script>

</body>
</html>